
h1{
    color:white;
    position:relative ;
    bottom:270px;
    left:40px;
}
h2{
    color:white;
    position:relative ;
    bottom:265px;
    left:40px;
    font-size:15px;
}
img{
    width:340px;
    height:350px;
    position:relative;
    margin-left:20px;
    border-radius:10px;
}
button{
    position:relative ;
    bottom:250px;
    left:40px;
    border-radius:10px;
}
