.yo{
  position:relative;
  height:300px;
  width:200px;
  padding:10px 200px 10px 10px;
  border:1px solid grey;
  border-radius:10px;
}
h1{
  left:220px;
  position:relative;
  font-size:20px;
  font-family:cursive;
  bottom:250px;
}
h2{
  left:220px;
  position:relative;
  font-size:15px;
  font-family:cursive;
  font-weight:1px;
  bottom:230px;
}
.you{
  position:relative;
  height:240px;
  width:300px;
  padding:10px 10px 200px 10px ;
  border:1px solid grey;
  border-radius:10px;
}
.to{
  left:20px;
  position:relative;
  font-size:20px;
  font-family:cursive;
  font-weight:1px;
  bottom:200px;
}
.u{
  left:20px;
  position:relative;
  font-size:15px;
  font-family:cursive;
  font-weight:1px;
  bottom:200px;
}